@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*Defaults*/
*{
    scroll-behavior: smooth;
    transition: all 0.1s;
}

body, h1, h2, h3, h5{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-family: 'Orbitron', sans-serif;
    gap: 10px;
    color: green;
    background-color: black;
    
}

h1, h5{
    padding: 50px;
}

/* Nav bar*/
nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: yellow;
    background-color: green;
    width: 80%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    border: solid yellowgreen 2px;
}

nav h2{
    padding: 10px;
}

nav h2:hover{
    cursor: pointer;
    color: rgba(255, 255, 0, 0.502);
}

/*game board*/
.board{
    width: 560px;
    height: 300px;
    border: solid green 2px;
    position: relative;
    margin: 200px 0;
}

.board .score-header{
    position: absolute;
    left: 0;
    top: -30px;
}

.board .lives-header {
    position: absolute;
    right: 0;
    top: -30px;
}

.block, .user{
    width: 96px;
    height: 16px;
    border: solid greenyellow 2px;
    background-color: rgb(99, 129, 105);
    position: absolute;
}

.user{
    border-radius: 20px;
    border-color: greenyellow;
    background-color: green;
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: greenyellow;
    position: absolute;
}

/*pause menu*/
.pause-menu{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    gap: 20px;
}

.pause-menu h2:hover,
.game-over h2:hover{
    cursor: pointer;
    color: greenyellow;
}

/*game over menu*/
.game-over {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    gap: 20px;
}

.game-over h1{
    padding: 0;
}


/*Controls*/
.controls-container{
    display: none;
    flex-direction: row;
    background-color: green;
    color: yellow;
    gap: 20px;
    width: 80%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    border: solid yellowgreen 2px;
}

.controls-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.controls-container div{
    display: flex;
    gap: 10px;
}

.controls-container img{
    width: 30px;
}